body{
  background: url("../images/square_bg.png");
  border: 1px dashed black;
  margin:50px auto;
  padding:20px;
  text-align:center;
  width:50%;
  height: 700px ;
  color:  #003300;
}
input[type="submit"]:hover {
  background-color: #DCDCDC;
}

button:hover {
  background-color: #000000;
  color: #F6F6F6;
}

a{
  /*text-decoration: none;*/
  color: #808080;
}

a:hover
{
text-decoration: underline;
color: #4D4D4D;
}

.sign_in{
  color: blue;
  margin:10px;
  padding:10px;
  background-color : #E0E7E0;
  text-align:center;

}
/*
.tweet {

}

.followers {

  color: transparent;

}
.follow:hover {

  color: black;


}
*/
