<div class="container">
  <h1>Welcome to twitter jr!</h1>


  <!-- lets user login -->
  <form action="/profiles" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" value="login">
  </form>

  <a href="/signup"><button>Signup</button></a>





<!--


  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
  </table> -->
</div>
